<div class="container">
    <div class="row">
        <div class="col">
            <div class="card mb-3 card_modification" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../assets/Images/WebDeveloperImage.jpg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Dinesh Sankar</h5>
                      <p class="card-text">Professional Profile : Senior Software Engineer</p>
                      <p class="card-text">Years of Experience : 3+ years</p>
                      <p class="card-text"><small class="text-muted">Education : B.E in Computer Science & Engineering</small></p>
                    </div>
                  </div>
                </div>
            </div> 
        </div>
        <div class="col contact_details_modification">
            <h6>For collaboration, Contact Details</h6>
            <div class="row">
                <a href="https://www.linkedin.com/in/dinesh-sankar/"><i class="bi bi-linkedin"></i></a> <p>www.linkedin.com/in/dinesh-sankar/</p>
            </div>
            <div class="row">
                <a href="mailto:dineshsankar11111997@gmail.com"><i class="bi bi-envelope-paper"></i></a> <p>dineshsankar11111997@gmail.com</p>
            </div>
            <div class="row">
                <a href="https://www.facebook.com/dinesh.sankar.1829/"><i class="bi bi-facebook"></i></a> <p>www.facebook.com/dinesh.sankar.1829/</p>
            </div>
            <div class="row">
                <a href="tel:8838193766"><i class="bi bi-telephone"></i></a> <p>+918838193766</p>
            </div>
            <div class="row">
                <a href="https://wa.me/+918838193766"><i class="bi bi-whatsapp"></i></a> <p>+918838193766</p>
            </div>
        </div>
    </div> 
</div>