.home_image h2 {
    font-family: 'Poppins-BoldItalic';
}
.home_image h3, h5 {
    font-family: 'Poppins-Italic';
  }

.home_image{
    position: relative;
}

.home_image img{
    height: 601px;
    width: 1366px;
}

.home_image_content{
    color: aliceblue;
    position: absolute;
    top: 60px;
    left: 150px;
}