<div class="home_image">
    <img src="assets/Images/HomeImage.jpg" class="img-fluid" alt="HomeImage">
    <div class="home_image_content">
        <h2>Hey,</h2>
        <h3>I am Vignesh Sankar. An Aerospace Engineer</h3> 
        <h5>Pursuing My Doctor of Philosophy, Welcome to my Portfolio</h5> 
        <!-- <a href="https://www.dropbox.com/s/kmbzclgp6y4sb2v/Vigneshwaran_Sankar_CV.pdf?dl=0" target="_blank" ><button class="btn btn-light"><i class="bi bi-filetype-pdf"></i> &nbsp; Resume</button></a> -->
    </div>
</div>
