<div *ngFor="let p of publicationlist"> 
  <div class="container border rounded shadow-lg p-3 mb-5 bg-body" style="margin-top: 50px; margin-bottom: 50px;">       
            <h5>{{p.publication_heading}}</h5>
            <span>{{p.publication_description}}</span>
            <h6>{{p.publication_title}}</h6>
            <button type="button" class="btn btn-primary">{{p.publication_button}}</button>
  </div>
</div>
<div class="container">
  <div *ngIf="publicationlist.length==0" class="alert alert-danger rounded" style="margin-top: 50px; margin-bottom: 50px;">
  <p>No Research Paper Found...</p>
  </div>
</div>